
<script type="text/javascript">
   /* (function () {
        if (window.location.pathname && window.location.pathname !== '/') {
            window.location.replace('http://' + window.location.host + '#' + window.location.pathname.substring(1));
        }
    })();*/
</script>


<style>
    .menulihover {
        border-left: 3px solid rgb(55, 131, 192);
        margin: 5px;
        background-color: #CBE4F9;
        line-height: 24px;
        font-size: 14px;
        text-indent: 18px;
    }

        .menulihover:hover {
            background: #ffb584;
        }
</style>

 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">客户管理</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Field/RepresentativeMyCust/CompanyIndex" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FieldRepresentativeMyCustCompanyIndex', faicon:'fa-list-alt'}"><li class="menulihover">我的客户</li></a>
                                            <a href="/ReportCenter/WaitCareCust/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'WaitCareCustIndex', faicon:'fa-plus-square'}"><li class="menulihover">缴费未治疗客户</li></a>
                                            <a href="/ReportCenter/PremoneyCust/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'PremoneyCustIndex', faicon:'fa-user'}"><li class="menulihover">预约金客户</li></a>
                                            <a href="/ReportCenter/DebtCust/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'DebtCustIndex', faicon:'fa-user'}"><li class="menulihover">欠款客户</li></a>
                                            <a href="/ReportCenter/SavecardCust/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SavecardCustIndex', faicon:'fa-user'}"><li class="menulihover">储值客户</li></a>
                                            <a href="/ReportCenter/DepositCust/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'DepositCustIndex', faicon:'fa-user'}"><li class="menulihover">住院押金客户</li></a>
                                            <a href="/ReportCenter/DealCust/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'DealCust', faicon:'fa-user'}"><li class="menulihover">成交客户</li></a>
                                            <a href="/ReportCenter/NoDealCust/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'NoDealCust', faicon:'fa-user'}"><li class="menulihover">未成交客户</li></a>
                                            <a href="/CustAnalysis/RecommendCustQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'RecommendCustQueryIndex', faicon:'fa-'}"><li class="menulihover">介绍客户管理</li></a>
                                            <a href="/CustAnalysis/CustLabelConsumeQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustLabelConsumeQueryIndex', faicon:'fa-'}"><li class="menulihover">自定义标签客户查询</li></a>
                                            <a href="/CustAnalysis/RecommendCustQueryDtl/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustAnalysisRecommendCustQueryDtlIndex', faicon:'fa-'}"><li class="menulihover">老带新客户管理</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">客户指标分析</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/CustAnalysis/CustIndicationRptListSearch/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustIndicationRptListSearchIndex', faicon:'fa-'}"><li class="menulihover">客户指标查询</li></a>
                                            <a href="/CustAnalysis/SectionIndicationQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SectionIndicationQueryIndex', faicon:'fa-'}"><li class="menulihover">科室指标查询</li></a>
                                            <a href="/CustAnalysis/CustActivityIndicationQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustActivityIndicationQueryIndex', faicon:'fa-'}"><li class="menulihover">客户活动指标查询</li></a>
                                            <a href="/CustAnalysis/CustPeriodConsumeQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustPeriodConsumeQueryIndex', faicon:'fa-'}"><li class="menulihover">客户阶段消费查询</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">漏斗分析</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/CustAnalysis/TempCustNoReservation/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustAnalysisTempCustNoReservationIndex', faicon:'fa-search'}"><li class="menulihover">咨询未预约</li></a>
                                            <a href="/CustAnalysis/TempCustReservationNoVisit/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustAnalysisTempCustReservationNoVisitIndex', faicon:'fa-search'}"><li class="menulihover">临客预约未到院</li></a>
                                            <a href="/CustAnalysis/VisitCustNoDeal/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustAnalysisVisitCustNoDealIndex', faicon:'fa-search'}"><li class="menulihover">到院未成交</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">周期性产品管理</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/CustAnalysis/KeyProductConsumeQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustAnalysisKeyProductConsumeQueryIndex', faicon:'fa-search'}"><li class="menulihover">重点产品分析</li></a>
                                            <a href="/CustAnalysis/ProductCustTypeConsumeQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustAnalysisProductCustTypeConsumeQueryIndex', faicon:'fa-search'}"><li class="menulihover">产品自定义分类查询</li></a>
                                            <a href="/CustAnalysis/CycleProduct/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustAnalysisCycleProductIndex', faicon:'fa-search'}"><li class="menulihover">周期性产品分析</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>


