
<script type="text/javascript">
   /* (function () {
        if (window.location.pathname && window.location.pathname !== '/') {
            window.location.replace('http://' + window.location.host + '#' + window.location.pathname.substring(1));
        }
    })();*/
</script>


<style>
    .menulihover {
        border-left: 3px solid rgb(55, 131, 192);
        margin: 5px;
        background-color: #CBE4F9;
        line-height: 24px;
        font-size: 14px;
        text-indent: 18px;
    }

        .menulihover:hover {
            background: #ffb584;
        }
</style>

 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">库房基础数据</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Inv/InvInventoryInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'InvInventoryInfoIndex', faicon:'fa-'}"><li class="menulihover">库房基础信息</li></a>
                                            <a href="/Inv/InvVendorInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'InvVendorInfoIndex', faicon:'fa-'}"><li class="menulihover">供应商信息</li></a>
                                            <a href="/Inv/InvMaterialType/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'InvMaterialTypeIndex', faicon:'fa-'}"><li class="menulihover">物资类型</li></a>
                                            <a href="/Inv/InvMaterialInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'InvMaterialInfoIndex', faicon:'fa-'}"><li class="menulihover">物资信息</li></a>
                                            <a href="/Inv/InvInventoryPrivs/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'InvInvInventoryPrivsIndex', faicon:'fa-'}"><li class="menulihover">库房权限</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">物资出入库</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Inv/Outsourcing/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'InvOutsourcingIndex', faicon:'fa-plus-square'}"><li class="menulihover">外购入库</li></a>
                                            <a href="/Inv/StockOut/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'InvStockOutIndex', faicon:'fa-minus'}"><li class="menulihover">领料出库</li></a>
                                            <a href="/Inv/OtherOutsourcing/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'InvOtherOutsourcingIndex', faicon:'fa-plus'}"><li class="menulihover">其他入库</li></a>
                                            <a href="/Inv/OtherStockOut/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'InvOtherStockOutIndex', faicon:'fa-minus'}"><li class="menulihover">其他出库</li></a>
                                            <a href="/Inv/Transfer/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'TransferIndex', faicon:'fa-plus-square'}"><li class="menulihover">物资移库</li></a>
                                            <a href="/Inv/InvCheckNote/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'InvCheckNoteIndex', faicon:'fa-'}"><li class="menulihover">盘点物资</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">库房查询</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Inv/InventorySearch/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'InvInventorySearchIndex', faicon:'fa-search'}"><li class="menulihover">库存查询</li></a>
                                            <a href="/Inv/InvStockInSearch/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'InvInvStockInSearchIndex', faicon:'fa-search'}"><li class="menulihover">入库单查询</li></a>
                                            <a href="/Inv/StockOutSearch/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'InvStockOutSearchIndex', faicon:'fa-search'}"><li class="menulihover">出库单查询</li></a>
                                            <a href="/Inv/InvStockDtlSearch/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'InvStockDtlQuery', faicon:'fa-search'}"><li class="menulihover">库存明细查询</li></a>
                                            <a href="/Inv/VwVendorSearch/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'VwVendorSearchIndex', faicon:'fa-'}"><li class="menulihover">采购入库供应商汇总查询</li></a>
                                            <a href="/Inv/VwStockinTypeSearch/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'VwStockinTypeSearchIndex', faicon:'fa-'}"><li class="menulihover">入库单类型汇总查询</li></a>
                                            <a href="/Inv/VwStockoutSearch/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'VwStockoutSearchIndex', faicon:'fa-'}"><li class="menulihover">出库单类型汇总查询</li></a>
                                            <a href="/Inv/Stocktaking/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'InvStocktakingIndex', faicon:'fa-'}"><li class="menulihover">盘点查询</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">药品管理</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Inv/ChargeBillMedicine/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ChargeBillMedicineIndex', faicon:'fa-'}"><li class="menulihover">收费单药品查询</li></a>
                                            <a href="/Inv/ChargeBillHospital/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'InvChargeBillHospitalIndex', faicon:'fa-'}"><li class="menulihover">住院单药品查询</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>


