
<script type="text/javascript">
   /* (function () {
        if (window.location.pathname && window.location.pathname !== '/') {
            window.location.replace('http://' + window.location.host + '#' + window.location.pathname.substring(1));
        }
    })();*/
</script>


<style>
    .menulihover {
        border-left: 3px solid rgb(55, 131, 192);
        margin: 5px;
        background-color: #CBE4F9;
        line-height: 24px;
        font-size: 14px;
        text-indent: 18px;
    }

        .menulihover:hover {
            background: #ffb584;
        }
</style>

 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">电话回访</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/ReturnCall/CompanyReturnCallPlan/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReturnCallCompanyReturnCallPlanIndex', faicon:'fa-whatsapp'}"><li class="menulihover">公司回访计划</li></a>
                                            <a href="/ReturnCall/ReservationReturnCallPlan/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReturnCallReservationReturnCallPlanIndex', faicon:'fa-whatsapp'}"><li class="menulihover">预约回访计划</li></a>
                                            <a href="/ReturnCall/MemberReturnCall/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReturnCallMemberReturnCallIndex', faicon:'fa-whatsapp'}"><li class="menulihover">会员回访</li></a>
                                            <a href="/ReturnCall/ReturnCallManage/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReturnCallManageIndex', faicon:'fa-whatsapp'}"><li class="menulihover">回访管理</li></a>
                                            <a href="/ReturnCall/CompanyReturnCallPlan/CustIndex" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReturnCallCompanyReturnCallPlanCustIndex', faicon:'fa-whatsapp'}"><li class="menulihover">个人回访计划</li></a>
                                            <a href="/ReturnCall/ReservationReturnCallPlan/CustIndex" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReturnCallReservationReturnCallPlanCustIndex', faicon:'fa-whatsapp'}"><li class="menulihover">个人预约回访计划</li></a>
                                            <a href="/ReturnCall/TmpReturnCallManage/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReturnCallTmpReturnCallManageIndex', faicon:'fa-whatsapp'}"><li class="menulihover">预约回访管理</li></a>
                                            <a href="/ReturnCall/CallRecordQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReturnCallCallRecordQueryIndex', faicon:'fa-whatsapp'}"><li class="menulihover">录音查询</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>


