
<script type="text/javascript">
   /* (function () {
        if (window.location.pathname && window.location.pathname !== '/') {
            window.location.replace('http://' + window.location.host + '#' + window.location.pathname.substring(1));
        }
    })();*/
</script>


<style>
    .menulihover {
        border-left: 3px solid rgb(55, 131, 192);
        margin: 5px;
        background-color: #CBE4F9;
        line-height: 24px;
        font-size: 14px;
        text-indent: 18px;
    }

        .menulihover:hover {
            background: #ffb584;
        }
</style>

 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">皮肤中心</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/MedicalCenter/SkinTriage/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SkinTriageIndex', faicon:'fa-'}"><li class="menulihover">皮肤排期分诊</li></a>
                                            <a href="/MedicalCenter/SkinReferralReg/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MedicalCenterSkinReferralRegIndex', faicon:'fa-plus-square'}"><li class="menulihover">皮肤治疗登记</li></a>
                                            <a href="/MedicalCenter/SkinReservationNote/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SkinReservationNoteIndex', faicon:'fa-'}"><li class="menulihover">皮肤预约</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">整形中心</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/MedicalCenter/PlasticReg/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MedicalCenterPlasticRegIndex', faicon:'fa-plus-square'}"><li class="menulihover">整形首诊登记</li></a>
                                            <a href="/MedicalCenter/Hospital/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MedicalCenterHospitalIndex', faicon:'fa-hospital-o'}"><li class="menulihover">住院管理</li></a>
                                            <a href="/MedicalCenter/PlasticCure/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'PlasticCureIndex', faicon:'fa-plus-square'}"><li class="menulihover">整形手术管理</li></a>
                                            <a href="/MedicalCenter/OperationReservationNote/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'OperationReservationNoteIndex', faicon:'fa-'}"><li class="menulihover">整形预约</li></a>
                                            <a href="/MedicalCenter/PlasticOperationQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'PlasticOperationQueryIndex', faicon:'fa-'}"><li class="menulihover">整形手术查询</li></a>
                                            <a href="/MedicalCenter/VwPlasticCureTreate/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'VwPlasticCureTreateIndex', faicon:'fa-'}"><li class="menulihover">整形复诊查询</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">无创中心</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/MedicalCenter/NonInvasiveTriage/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'NonInvasiveTriageIndex', faicon:'fa-'}"><li class="menulihover">无创排期分诊</li></a>
                                            <a href="/MedicalCenter/ReviewNonInvasiveReg/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReviewNonInvasiveReg', faicon:'fa-plus-square'}"><li class="menulihover">无创治疗登记</li></a>
                                            <a href="/MedicalCenter/NoninvasiveReservationNote/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'NoninvasiveReservationNoteIndex', faicon:'fa-'}"><li class="menulihover">无创预约</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">物资管理</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/BaseDataManage/CustMaterialInventory/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustMaterialInventoryIndex', faicon:'fa-cubes'}"><li class="menulihover">客户物资信息</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">档案管理</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/MedicalCenter/DocumentRegister/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'DocumentRegisterIndex', faicon:'fa-'}"><li class="menulihover">档案管理</li></a>
                                            <a href="/MedicalCenter/CustDocQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustDocQueryIndex', faicon:'fa-'}"><li class="menulihover">档案查询</li></a>
                                            <a href="/MedicalCenter/CustDocReg/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustDocRegIndex', faicon:'fa-'}"><li class="menulihover">客户档案查询</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>


