
<script type="text/javascript">
   /* (function () {
        if (window.location.pathname && window.location.pathname !== '/') {
            window.location.replace('http://' + window.location.host + '#' + window.location.pathname.substring(1));
        }
    })();*/
</script>


<style>
    .menulihover {
        border-left: 3px solid rgb(55, 131, 192);
        margin: 5px;
        background-color: #CBE4F9;
        line-height: 24px;
        font-size: 14px;
        text-indent: 18px;
    }

        .menulihover:hover {
            background: #ffb584;
        }
</style>

 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">基础数据</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Sales/SalesIfAccount/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SalesIfAccountIndex', faicon:'fa-'}"><li class="menulihover">账号数据</li></a>
                                            <a href="/Sales/SalesPlateform/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SalesPlateformIndex', faicon:'fa-'}"><li class="menulihover">平台基础数据</li></a>
                                            <a href="/Sales/SalesAccountInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SalesAccountInfoIndex', faicon:'fa-'}"><li class="menulihover">账户</li></a>
                                            <a href="/Sales/SalesCampaignInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SalesCampaignInfoIndex', faicon:'fa-'}"><li class="menulihover">计划</li></a>
                                            <a href="/Sales/SalesAdGroup/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SalesAdGroupIndex', faicon:'fa-'}"><li class="menulihover">单元</li></a>
                                            <a href="/Sales/SalesCreativeInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SalesCreativeInfoIndex', faicon:'fa-'}"><li class="menulihover">创意</li></a>
                                            <a href="/Sales/SalesKeywordInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SalesKeywordInfoIndex', faicon:'fa-'}"><li class="menulihover">关键词</li></a>
                                            <a href="/Sales/BDLog/Index/" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'BDLogIndex', faicon:'fa-'}"><li class="menulihover">错误日志</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">关键词查询</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Sales/KeywordConsumeQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'KeywordConsumeQueryIndex', faicon:'fa-'}"><li class="menulihover">关键词消费查询</li></a>
                                            <a href="/Sales/KeywordNoImpressionQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'KeywordNoImpressionQueryIndex', faicon:'fa-'}"><li class="menulihover">关键词未展现查询</li></a>
                                            <a href="/Sales/KeywordNoClickQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'KeywordNoClickQueryIndex', faicon:'fa-'}"><li class="menulihover">关键词有展现未点击查询</li></a>
                                            <a href="/Sales/KeywordNoVisit/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'KeywordNoVisitIndex', faicon:'fa-'}"><li class="menulihover">关键词有点击未打开查询</li></a>
                                            <a href="/Sales/KeywordNoDialog/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'KeywordNoDialogIndex', faicon:'fa-'}"><li class="menulihover">关键词有访问未对话查询</li></a>
                                            <a href="/Sales/KeywordNoReservation/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'KeywordNoReservationIndex', faicon:'fa-'}"><li class="menulihover">关键词有对话未预约查询</li></a>
                                            <a href="/Sales/KeywordsImpressionQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'KeywordsImpressionQueryIndex', faicon:'fa-'}"><li class="menulihover">关键词展现排名查询</li></a>
                                            <a href="/Sales/KeywordsSearchQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SearchWordQueryIndex', faicon:'fa-'}"><li class="menulihover">搜索词分析</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">消费数据分析</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Sales/SalesAccountAnalysis/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SalesSalesAccountAnalysisIndex', faicon:'fa-'}"><li class="menulihover">账户分析</li></a>
                                            <a href="/Sales/SalesDialogVisitAnalysis/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SalesDialogVisitAnalysisIndex', faicon:'fa-'}"><li class="menulihover">对话来院分析</li></a>
                                            <a href="/Sales/SalesDialogProductAnalysis/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SalesDialogProductAnalysisIndex', faicon:'fa-'}"><li class="menulihover">对话项目分析</li></a>
                                            <a href="/Sales/SalesVisitAnalysis/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SalesDVisitAnalysisIndex', faicon:'fa-'}"><li class="menulihover">来院分析</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">网页数据查询</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Sales/DiaLogMessage/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'DiaLogMessageIndex', faicon:'fa-'}"><li class="menulihover">商务通对话查询</li></a>
                                            <a href="/Sales/WebsiteQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'WebsiteQueryIndex', faicon:'fa-'}"><li class="menulihover">网页分析</li></a>
                                            <a href="/Sales/IPQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'IpQueryIndex', faicon:'fa-'}"><li class="menulihover">IP分析</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>


