
<script type="text/javascript">
   /* (function () {
        if (window.location.pathname && window.location.pathname !== '/') {
            window.location.replace('http://' + window.location.host + '#' + window.location.pathname.substring(1));
        }
    })();*/
</script>


<style>
    .menulihover {
        border-left: 3px solid rgb(55, 131, 192);
        margin: 5px;
        background-color: #CBE4F9;
        line-height: 24px;
        font-size: 14px;
        text-indent: 18px;
    }

        .menulihover:hover {
            background: #ffb584;
        }
</style>

 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">产品管理</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/BaseDataManage/ProductType/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ProductTypeIndex', faicon:'fa-list-alt'}"><li class="menulihover">产品类型</li></a>
                                            <a href="/BaseDataManage/ProductInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ProductInfoIndex', faicon:'fa-user-secret'}"><li class="menulihover">产品信息维护</li></a>
                                            <a href="/BaseDataManage/ProductCustType/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ProductCustTypeIndex', faicon:'fa-wrench'}"><li class="menulihover">产品自定义分类</li></a>
                                            <a href="/BaseDataManage/MaterialToProduct/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MaterialToProductIndex', faicon:'fa-'}"><li class="menulihover">产品关联</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">医务基础数据</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/BaseDataManage/MedInstrument/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MedInstrumentIndex', faicon:'fa-plus-square'}"><li class="menulihover">仪器管理</li></a>
                                            <a href="/BaseDataManage/RoomInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'BaseDataManageRoomInfoIndex', faicon:'fa-plus-square'}"><li class="menulihover">医院房间设置</li></a>
                                            <a href="/BaseDataManage/MedTreatPointType/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MedTreatPointTypeIndex', faicon:'fa-plus-square'}"><li class="menulihover">护理分值项类型</li></a>
                                            <a href="/BaseDataManage/MedTreatPointInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MedTreatPointInfoIndex', faicon:'fa-'}"><li class="menulihover">护理分值项信息</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">客户基础数据</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/BaseDataManage/CustRequestType/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustRequestTypeIndex', faicon:'fa-'}"><li class="menulihover">客户需求类型</li></a>
                                            <a href="/BaseDataManage/CustRequestInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustRequestInfoIndex', faicon:'fa-'}"><li class="menulihover">客户需求定义</li></a>
                                            <a href="/BaseDataManage/CustLabelType/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustLabelTypeIndex', faicon:'fa-'}"><li class="menulihover">客户标签类型</li></a>
                                            <a href="/BaseDataManage/CustLabelInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustLabelInfoIndex', faicon:'fa-'}"><li class="menulihover">客户标签定义</li></a>
                                            <a href="/BaseDataManage/CustMediaType/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustMediaTypeIndex', faicon:'fa-'}"><li class="menulihover">客户媒介类型</li></a>
                                            <a href="/BaseDataManage/CustMediaSource/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustMediaSourceIndex', faicon:'fa-'}"><li class="menulihover">客户媒介来源</li></a>
                                            <a href="/BaseDataManage/CustChannelInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CustChannelInfoIndex', faicon:'fa-'}"><li class="menulihover">客户渠道信息</li></a>
                                            <a href="/BaseDataManage/BeautySlonType/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'BeautySlonTypeIndex', faicon:'fa-'}"><li class="menulihover">美容院基础信息</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">回访基础数据</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/BaseDataManage/RecallType/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'RecallTypeIndex', faicon:'fa-exchange'}"><li class="menulihover">回访类型管理</li></a>
                                            <a href="/BaseDataManage/ReCallInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'BaseDataManageReCallInfoIndex', faicon:'fa-phone-square'}"><li class="menulihover">回访基础信息维护</li></a>
                                            <a href="/BaseDataManage/MsgTemplateType/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MsgTemplateTypeIndex', faicon:'fa-file-text'}"><li class="menulihover">短信类型管理</li></a>
                                            <a href="/BaseDataManage/MsgTemplate/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MsgTemplateIndex', faicon:'fa-pencil-square'}"><li class="menulihover">短信信息维护</li></a>
                                            <a href="/ReturnCall/CalStopReasonInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CalStopReasonInfoIndex', faicon:'fa-cog'}"><li class="menulihover">停止回访原因设置</li></a>
                                            <a href="/BaseDataManage/Configure/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'BaseDataManageConfigureIndex', faicon:'fa-cogs'}"><li class="menulihover">网电预约回访计划配置</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">会员基础数据</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Member/MemGiftType/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MemGiftTypeIndex', faicon:'fa-user-md'}"><li class="menulihover">礼品类型</li></a>
                                            <a href="/Member/MemGiftInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MemGiftInfoIndex', faicon:'fa-user-md'}"><li class="menulihover">礼品基本信息</li></a>
                                            <a href="/BaseDataManage/MebCustLevelConf/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MebCustLevelConfIndex', faicon:'fa-certificate'}"><li class="menulihover">会员级别维护</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">收费基础数据</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/BaseDataManage/CasSubject/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CasSubjectIndex', faicon:'fa-jpy'}"><li class="menulihover">收费类型</li></a>
                                            <a href="/BaseDataManage/FinSavingcardRate/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FinSavingcardRateIndex', faicon:'fa-money'}"><li class="menulihover">交储值基本信息</li></a>
                                            <a href="/BaseDataManage/FinChargePayment/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FinChargePaymentIndex', faicon:'fa-jpy'}"><li class="menulihover">收费单支付方式</li></a>
                                            <a href="/BaseDataManage/FinAccountInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FinAccountInfoIndex', faicon:'fa-'}"><li class="menulihover">科目收支基础信息</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">预约基础数据</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/BaseDataManage/FedReservationItemInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FedReservationItemInfoIndex', faicon:'fa-'}"><li class="menulihover">预约项目信息</li></a>
                                            <a href="/BaseDataManage/FedPeriodConfig/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FedPeriodConfigIndex', faicon:'fa-'}"><li class="menulihover">现场预约时段配置</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">后台管理</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Field/ReceptionInfoChange/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReceptionInfoChangeIndex', faicon:'fa-user-md'}"><li class="menulihover">接诊指标修改</li></a>
                                            <a href="/Manage/PlanRecallEmpChg/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'PlanRecallEmpChgIndex', faicon:'fa-'}"><li class="menulihover">维护临客信息</li></a>
                                            <a href="/Manage/MemberIntegralManage/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MemberIntegralManageIndex', faicon:'fa-'}"><li class="menulihover">积分调整</li></a>
                                            <a href="/Manage/SysPhotoServer/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SysPhotoServerIndex', faicon:'fa-'}"><li class="menulihover">照片服务基础信息维护</li></a>
                                            <a href="/Manage/FedConsultantChanges/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FedConsultantChangesIndex', faicon:'fa-'}"><li class="menulihover">维护正式客户信息</li></a>
                                            <a href="/Manage/EmployeePhoneAudit/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ManageEmployeePhoneAuditIndex', faicon:'fa-'}"><li class="menulihover">客户电话查看记录</li></a>
                                            <a href="/ReturnCall/CustBlock/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReturnCallCustBlockIndex', faicon:'fa-'}"><li class="menulihover">客户黑名单管理</li></a>
                                            <a href="/BaseDataManage/CustLabelManage/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'BaseDataManageCustLabelManageIndex', faicon:'fa-'}"><li class="menulihover">自定义客户标签管理</li></a>
                                            <a href="/Manage/SmsRecord/SendRecordList" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ManageSmsRecordSendRecordList', faicon:'fa-'}"><li class="menulihover">短信发送记录</li></a>
                                            <a href="BaseDataManage/LoginInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'BaseDataManageLoginInfoIndex', faicon:'fa-'}"><li class="menulihover">系统登录记录</li></a>
                                            <a href="/Manage/CustInfoChangeLog/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ManageCustInfoChangeLogIndex', faicon:'fa-'}"><li class="menulihover">正式客户归属更改记录</li></a>
                                            <a href="/Manage/TempCustChangeLog/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ManageTempCustChangeLogIndex', faicon:'fa-'}"><li class="menulihover">临客归属更改记录</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">系统管理</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/CommonArea/Common/CallText" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CallTextIndex', faicon:'fa-'}"><li class="menulihover">呼叫测试</li></a>
                                            <a href="/Manage/EmployeeInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'EmployeeInfoIndex', faicon:'fa-user-md'}"><li class="menulihover">人员管理</li></a>
                                            <a href="/Manage/DeptInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'DeptInfoIndex', faicon:'fa-users'}"><li class="menulihover">部门管理</li></a>
                                            <a href="/Manage/PositionInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'PositionIndex', faicon:'fa-hospital-o'}"><li class="menulihover">岗位管理</li></a>
                                            <a href="/Account/User/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'UserIndex', faicon:'fa-user'}"><li class="menulihover">用户管理</li></a>
                                            <a href="/Account/UserGroup/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'UserGroupIndex', faicon:'fa-user'}"><li class="menulihover">用户组管理</li></a>
                                            <a href="/Manage/Menu/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MenuIndex', faicon:'fa-list-alt'}"><li class="menulihover">菜单管理</li></a>
                                            <a href="/Account/Permission/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'PermissionIndex', faicon:'fa-wrench'}"><li class="menulihover">权限管理</li></a>
                                            <a href="/Account/Role/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'RoleIndex', faicon:'fa-user-secret'}"><li class="menulihover">角色管理</li></a>
                                            <a href="/Manage/Param/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ParamIndex', faicon:'fa-cogs'}"><li class="menulihover">快码管理</li></a>
                                            <a href="/Manage/SettingConfig/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SettingConfigIndex', faicon:'fa-cogs'}"><li class="menulihover">配置管理</li></a>
                                            <a href="/Manage/EmpExtInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'EmpExtInfoIndex', faicon:'fa-flickr'}"><li class="menulihover">员工扩展信息</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">预警功能</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/BaseDataManage/AlertPlan/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'AlertPlanIndex', faicon:'fa-'}"><li class="menulihover">预警计划</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">公众号配置</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/BaseDataManage/WechatPublicConf/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'BaseDataManageWechatPublicConfIndex', faicon:'fa-'}"><li class="menulihover">公众号配置</li></a>
                                            <a href="/BaseDataManage/WechatPublicConf/EnterpriceMsgTmplList" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'EnterpriceMsgTmplList', faicon:'fa-'}"><li class="menulihover">企业号消息模板</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">流程基础数据</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Flow/FlowInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FlowFlowInfoindex', faicon:'fa-'}"><li class="menulihover">流程信息定义</li></a>
                                            <a href="/Flow/WfFlowConf/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FlowWfFlowConfIndex', faicon:'fa-'}"><li class="menulihover">流程配置</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>


