
<script type="text/javascript">
   /* (function () {
        if (window.location.pathname && window.location.pathname !== '/') {
            window.location.replace('http://' + window.location.host + '#' + window.location.pathname.substring(1));
        }
    })();*/
</script>


<style>
    .menulihover {
        border-left: 3px solid rgb(55, 131, 192);
        margin: 5px;
        background-color: #CBE4F9;
        line-height: 24px;
        font-size: 14px;
        text-indent: 18px;
    }

        .menulihover:hover {
            background: #ffb584;
        }
</style>

 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">业绩查询</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/ReportCenter/PerformanceQuery/CompanyIndex" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'PerformanceQueryByCompany', faicon:'fa-paragraph'}"><li class="menulihover">医生业绩查询(公司 )</li></a>
                                            <a href="/ReportCenter/PerformanceQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'PerformanceQueryByDoctor', faicon:'fa-paragraph'}"><li class="menulihover">医生业绩查询(医生)</li></a>
                                            <a href="/ReportCenter/NetBillAccount/CompanyIndex" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReportCenterNetBillAccountByCompanyIndex', faicon:'fa-paragraph'}"><li class="menulihover">网电咨询师业绩查询（公司）</li></a>
                                            <a href="/ReportCenter/NetBillAccount/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReportCenterNetBillAccountIndex', faicon:'fa-paragraph'}"><li class="menulihover">网电咨询师业绩查询（个人）</li></a>
                                            <a href="/ReportCenter/NetBillAccount/PlanRecallEmpIndex" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReportCenterNetBillAccountRecallEmpIndex', faicon:'fa-paragraph'}"><li class="menulihover">网电咨询师业绩查询（回访人）</li></a>
                                            <a href="/ReportCenter/NetBillAccountDtl/CompanyIndex" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'NetBillAccountDtlCompanyIndex', faicon:'fa-paragraph'}"><li class="menulihover">网电咨询师业绩明细查询（公司）</li></a>
                                            <a href="/ReportCenter/NetBillAccountDtl/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'NetBillAccountDtlIndex', faicon:'fa-paragraph'}"><li class="menulihover">网电咨询师业绩明细查询（个人）</li></a>
                                            <a href="/ReportCenter/BillAccount/CompanyIndex" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReportCenterBillAccountCompanyIndex', faicon:'fa-paragraph'}"><li class="menulihover">开单业绩查询（公司）</li></a>
                                            <a href="/ReportCenter/BillAccount/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReportCenterBillAccountIndex', faicon:'fa-paragraph'}"><li class="menulihover">开单业绩查询（个人）</li></a>
                                            <a href="/ReportCenter/BillAccount/Indexs" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'BillAccountIndexs', faicon:'fa-paragraph'}"><li class="menulihover">开单业绩查询（客户代表）</li></a>
                                            <a href="/ReportCenter/BillAccountDtl/CompanyIndex" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'BillAccountDtlCompanyIndex', faicon:'fa-paragraph'}"><li class="menulihover">开单业绩明细查询（公司）</li></a>
                                            <a href="/ReportCenter/BillAccountDtl/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'BillAccountDtlIndex', faicon:'fa-paragraph'}"><li class="menulihover">开单业绩明细查询（个人）</li></a>
                                            <a href="/ReportCenter/VwReservationNote/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'VwReservationNoteIndex', faicon:'fa-'}"><li class="menulihover">二开业绩查询（公司）</li></a>
                                            <a href="/ReportCenter/VwReservationNote/MyIndex" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'VwReservationNoteMyIndex', faicon:'fa-'}"><li class="menulihover">二开业绩查询（个人）</li></a>
                                            <a href="/ReportCenter/RecommendBillAccount/CompanyIndex" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReportCenterRecommendBillAccountCompanyIndex', faicon:'fa-'}"><li class="menulihover">推荐人业绩查询（公司）</li></a>
                                            <a href="/ReportCenter/RecommendBillAccount/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReportCenterRecommendBillAccountIndex', faicon:'fa-'}"><li class="menulihover">推荐人业绩查询（个人）</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">分值查询</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/ReportCenter/MedTreatPoint/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MedTreatPointIndex', faicon:'fa-'}"><li class="menulihover">分值查询</li></a>
                                            <a href="/ReportCenter/MedTreatPoint/MyIndex" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MedTreatPointMyIndex', faicon:'fa-'}"><li class="menulihover">分值个人查询页</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>


