
<script type="text/javascript">
   /* (function () {
        if (window.location.pathname && window.location.pathname !== '/') {
            window.location.replace('http://' + window.location.host + '#' + window.location.pathname.substring(1));
        }
    })();*/
</script>


<style>
    .menulihover {
        border-left: 3px solid rgb(55, 131, 192);
        margin: 5px;
        background-color: #CBE4F9;
        line-height: 24px;
        font-size: 14px;
        text-indent: 18px;
    }

        .menulihover:hover {
            background: #ffb584;
        }
</style>

 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">会员管理</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Member/MembershipInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MembershipInfoIndex', faicon:'fa-user-md'}"><li class="menulihover">会员管理</li></a>
                                            <a href="/Member/MembershipInfo/LeveupList" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MembershipInfoLeveupList', faicon:'fa-user-md'}"><li class="menulihover">会员升级记录</li></a>
                                            <a href="/Manage/MemGiftSearch/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ManageMemGiftSearchIndex', faicon:'fa-'}"><li class="menulihover">积分兑换查询</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">会员礼品管理</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Manage/MemGiftInventory/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MemGiftInventoryIndex', faicon:'fa-instagram'}"><li class="menulihover">礼品入库</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">活动管理</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Member/ActivityType/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ActivityTypeIndex', faicon:'fa-user-md'}"><li class="menulihover">活动类型</li></a>
                                            <a href="/Member/ActivityInfo/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ActivityInfoIndex', faicon:'fa-user-md'}"><li class="menulihover">活动基本信息维护</li></a>
                                            <a href="/Member/Activity/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ActivityIndex', faicon:'fa-user-md'}"><li class="menulihover">活动管理</li></a>
                                            <a href="/CustAnalysis/ActivityEffectAnalysis/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ActivityEffectAnalysis', faicon:'fa-search'}"><li class="menulihover">活动转化分析</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>


