
<script type="text/javascript">
   /* (function () {
        if (window.location.pathname && window.location.pathname !== '/') {
            window.location.replace('http://' + window.location.host + '#' + window.location.pathname.substring(1));
        }
    })();*/
</script>


<style>
    .menulihover {
        border-left: 3px solid rgb(55, 131, 192);
        margin: 5px;
        background-color: #CBE4F9;
        line-height: 24px;
        font-size: 14px;
        text-indent: 18px;
    }

        .menulihover:hover {
            background: #ffb584;
        }
</style>

 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">全院</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/ReportAnalysis/HosAnalysis/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReportCenterHosAnalysisIndex', faicon:'fa-hospital'}"><li class="menulihover">全院分析报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosNetFunnel" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'HosAnalysisHosNetFunnel', faicon:'fa-search'}"><li class="menulihover">全院销售漏斗</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosRecall" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'HosAnalysisHosRecall', faicon:'fa-search'}"><li class="menulihover">全院回访报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosCustRequirement" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'HosAnalysisHosCustRequirement', faicon:'fa-'}"><li class="menulihover">全院客户需求报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosCustLabel" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'HosAnalysisHosCustLabel', faicon:'fa-'}"><li class="menulihover">全院客户标签报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosCustRecommend" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'HosAnalysisHosCustRecommend', faicon:'fa-'}"><li class="menulihover">全院老带新报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosCustNoVisit" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'HosAnalysisHosCustNoVisit', faicon:'fa-'}"><li class="menulihover">全院预约未到院报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosCustNoDeal" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'HosAnalysisHosCustNoDeal', faicon:'fa-'}"><li class="menulihover">全院咨询未成交报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosOldCust" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'HosAnalysisHosOldCust', faicon:'fa-'}"><li class="menulihover">全院老客户报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosProductCross" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'HosProductCross', faicon:'fa-'}"><li class="menulihover">全院产品转化报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosCustActivity" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'HosCustActivity', faicon:'fa-'}"><li class="menulihover">全院客户活动次数报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosCustProductNumber" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'HosCustProductNumber', faicon:'fa-'}"><li class="menulihover">全院客户产品消费次数报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosCustCurYearVisitNumber" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'HosCustCurYearVisitNumber', faicon:'fa-'}"><li class="menulihover">全院客户一年内来院次数报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosCustDiscount" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'HosCustDiscount', faicon:'fa-'}"><li class="menulihover">全院客户折扣报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosWorkEfficiency" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'HosWorkEfficiency', faicon:'fa-'}"><li class="menulihover">全院工作效率报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosKeyProduct" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'HosKeyProduct', faicon:'fa-'}"><li class="menulihover">重点产品分析报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosProductCustType" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'HosProductCustType', faicon:'fa-'}"><li class="menulihover">产品自定义标签报表</li></a>
                                            <a href="/ReportAnalysis/SaAnalysis/SaActivityEffect" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SaActivityEffect', faicon:'fa-'}"><li class="menulihover">活动转化分析报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/FedRerservation" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FedRerservation', faicon:'fa-hospital'}"><li class="menulihover">门诊预约数据分析</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">客服（网电）</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/ReportAnalysis/NetAnalysis/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'NetAnalysisIndex', faicon:'fa-'}"><li class="menulihover">网电回访计划</li></a>
                                            <a href="/ReportAnalysis/NetAnalysis/NetCustNoVisit" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'NetAnalysisNetCustNoVisit', faicon:'fa-'}"><li class="menulihover">网电预约未到院客户报表</li></a>
                                            <a href="/ReportAnalysis/NetAnalysis/NetNoVisitCustLabel" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'NetAnalysisNetNoVisitCustLabel', faicon:'fa-'}"><li class="menulihover">网电预约未到院客户标签报表</li></a>
                                            <a href="/ReportAnalysis/NetAnalysis/NetNoVisitProduct" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'NetAnalysisNetNoVisitProduct', faicon:'fa-'}"><li class="menulihover">网电预约未到院客户产品报表</li></a>
                                            <a href="/ReportAnalysis/NetAnalysis/NetFunnel" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'NetAnalysisNetFunnel', faicon:'fa-'}"><li class="menulihover">网电销售漏斗报表</li></a>
                                            <a href="/ReportAnalysis/NetAnalysis/NetFunnelMedia" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'NetAnalysisNetFunnelMedia', faicon:'fa-'}"><li class="menulihover">网电销售漏斗（媒介）报表</li></a>
                                            <a href="/ReportAnalysis/NetAnalysis/NetSentionFunnel" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'NetAnalysisNetSentionFunnel', faicon:'fa-'}"><li class="menulihover">网电科室销售漏斗报表</li></a>
                                            <a href="/ReportAnalysis/NetAnalysis/NetFunnelPerf" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'NetAnalysisNetFunnelPerf', faicon:'fa-'}"><li class="menulihover">全院网电业绩报表</li></a>
                                            <a href="/ReportAnalysis/NetAnalysis/NetBeautySlon" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'NetBeautySlon', faicon:'fa-'}"><li class="menulihover">美容院数据分析报表</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">客服（现场）</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/ReportAnalysis/FedAnalysis/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FedAnalysisIndex', faicon:'fa-'}"><li class="menulihover">现场回访计划</li></a>
                                            <a href="/ReportAnalysis/FedAnalysis/FedConsultantPerf" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FedAnalysisFedConsultantPerf', faicon:'fa-'}"><li class="menulihover">现场咨询师业绩报表</li></a>
                                            <a href="/ReportAnalysis/FedAnalysis/FedCustActivity" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FedAnalysisFedCustActivity', faicon:'fa-'}"><li class="menulihover">现场咨询师客户活动次数报表</li></a>
                                            <a href="/ReportAnalysis/FedAnalysis/FedCustCurYearVisitNumber" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FedAnalysisFedCustCurYearVisitNumber', faicon:'fa-'}"><li class="menulihover">现场咨询师客户一年内来院次数报表</li></a>
                                            <a href="/ReportAnalysis/FedAnalysis/FedCustDiscount" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FedAnalysisFedCustDiscount', faicon:'fa-'}"><li class="menulihover">现场客户折扣报表</li></a>
                                            <a href="/ReportAnalysis/FedAnalysis/FedCustLabel" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FedAnalysisFedCustLabel', faicon:'fa-'}"><li class="menulihover">现场咨询师客户标签报表</li></a>
                                            <a href="/ReportAnalysis/FedAnalysis/FedCustNoDeal" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FedAnalysisFedCustNoDeal', faicon:'fa-'}"><li class="menulihover">现场咨询未成交客户报表</li></a>
                                            <a href="/ReportAnalysis/FedAnalysis/FedCustProductNumber" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FedAnalysisFedCustProductNumber', faicon:'fa-'}"><li class="menulihover">现场咨询师客户产品消费次数报表</li></a>
                                            <a href="/ReportAnalysis/FedAnalysis/FedCustRecommend" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FedAnalysisFedCustRecommend', faicon:'fa-'}"><li class="menulihover">现场咨询师老带新报表</li></a>
                                            <a href="/ReportAnalysis/FedAnalysis/FedCustRequirement" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FedAnalysisFedCustRequirement', faicon:'fa-'}"><li class="menulihover">现场咨询师需求报表</li></a>
                                            <a href="/ReportAnalysis/FedAnalysis/FedInfoCollect" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FedAnalysisFedInfoCollect', faicon:'fa-'}"><li class="menulihover">现场咨询信息采集报表</li></a>
                                            <a href="/ReportAnalysis/FedAnalysis/FedOldCust" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FedAnalysisFedOldCust', faicon:'fa-'}"><li class="menulihover">现场老客户报表</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">运营</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/ReportAnalysis/OpAnalysis/OpProductCross" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'OpProductCross', faicon:'fa-'}"><li class="menulihover">产品转化报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosRecall" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'OpRecall', faicon:'fa-'}"><li class="menulihover">全院回访报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosCustRequirement" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'OpCustRequirement', faicon:'fa-'}"><li class="menulihover">全院客户需求报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosCustLabel" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'OpCustLabel', faicon:'fa-'}"><li class="menulihover">全院客户标签报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosCustRecommend" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'OpCustRecommend', faicon:'fa-'}"><li class="menulihover">全院老带新报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosCustNoVisit" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'OpNovisit', faicon:'fa-'}"><li class="menulihover">全院预约未到院报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosCustNoDeal" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'OpCustNoDeal', faicon:'fa-'}"><li class="menulihover">全院咨询未成交报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosOldCust" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'OpOldCust', faicon:'fa-'}"><li class="menulihover">全院老客户报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosCustActivity" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'OpCustActivity', faicon:'fa-'}"><li class="menulihover">全院客户活动次数报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosCustProductNumber" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'OpCustProductNumber', faicon:'fa-'}"><li class="menulihover">全院客户产品消费次数报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosCustCurYearVisitNumber" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'OpCustCurYearVist', faicon:'fa-'}"><li class="menulihover">全院客户一年内来院次数报表</li></a>
                                            <a href="/ReportAnalysis/HosAnalysis/HosWorkEfficiency" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'OpWorkEffciency', faicon:'fa-'}"><li class="menulihover">全院客户工作效率报表</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">营销</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/ReportAnalysis/SaAnalysis/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReportAnalysisSaAnalysisIndex', faicon:'fa-'}"><li class="menulihover">媒介信息统计</li></a>
                                            <a href="/ReportAnalysis/SaAnalysis/SaChannel" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReportAnalysisSaAnalysisSaChannel', faicon:'fa-'}"><li class="menulihover">渠道信息统计</li></a>
                                            <a href="/ReportAnalysis/SaAnalysis/BaiduKeyWord" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'BaiduKeyWordIndex', faicon:'fa-'}"><li class="menulihover">百度关键词报表</li></a>
                                            <a href="/ReportAnalysis/SaAnalysis/SaCustLabel" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SaCustLabel', faicon:'fa-'}"><li class="menulihover">客户标签报表</li></a>
                                            <a href="/ReportAnalysis/SaAnalysis/SaTempMideaSourceToHosp" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SaTempMideaSourceToHosp', faicon:'fa-'}"><li class="menulihover">临客媒介来院统计报表</li></a>
                                            <a href="/ReportAnalysis/SaAnalysis/BdReport" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'BdReportIndex', faicon:'fa-'}"><li class="menulihover">百度分析统计</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">财务</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/ReportAnalysis/FinAnalysis/FinIncomeRiskSaveCard" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FinIncomeRiskSaveCard', faicon:'fa-'}"><li class="menulihover">财务风险分析--储值</li></a>
                                            <a href="/ReportAnalysis/FinAnalysis/FinIncomeRiskPreMoney" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FinIncomeRiskPreMoney', faicon:'fa-'}"><li class="menulihover">财务风险分析--预约金</li></a>
                                            <a href="/ReportAnalysis/FinAnalysis/FinIndex" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FinSummaryPerformance', faicon:'fa-'}"><li class="menulihover">全院业绩分析</li></a>
                                            <a href="/ReportAnalysis/FinAnalysis/FinSectionFeeTypeSum" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FinSectionFeeTypeSum', faicon:'fa-'}"><li class="menulihover">科室收入汇总表</li></a>
                                            <a href="/ReportAnalysis/FinAnalysis/FinCheckHandOverSum" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FinCheckHandOverSum', faicon:'fa-'}"><li class="menulihover">收银员交款汇总表</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">医务</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/ReportAnalysis/MedAlaysis/MedSkinCureReport" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MedSkinCureReportIndex', faicon:'fa-'}"><li class="menulihover">皮肤治疗统计</li></a>
                                            <a href="/ReportAnalysis/MedAlaysis/MedPlasticCureReport" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MedPlasticCureReportIndex', faicon:'fa-'}"><li class="menulihover">整形治疗统计</li></a>
                                            <a href="/ReportAnalysis/MedAlaysis/MedMouthCureReport" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MedMouthCureReportIndex', faicon:'fa-'}"><li class="menulihover">口腔治疗统计</li></a>
                                            <a href="/ReportAnalysis/MedAlaysis/MedNonInvisCureReport" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MedNonInvisCureReportIndex', faicon:'fa-'}"><li class="menulihover">无创治疗统计</li></a>
                                            <a href="/ReportAnalysis/MedAlaysis/SkinWorkEfficiencyReport" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'SkinWorkEfficiencyReport', faicon:'fa-'}"><li class="menulihover">皮肤医生效率报表</li></a>
                                            <a href="/ReportAnalysis/MedAlaysis/PlasticWorkEfficiencyReport" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'PlasticWorkEfficiencyReport', faicon:'fa-'}"><li class="menulihover">整形医生效率报表</li></a>
                                            <a href="/ReportAnalysis/MedAlaysis/NoninsiveWorkEfficiencyReport" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'NoninsiveWorkEfficiencyReport', faicon:'fa-'}"><li class="menulihover">无创医生效率报表</li></a>
                                            <a href="/ReportAnalysis/MedAlaysis/MedWorkEfficiencyReport" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MedWorkEfficiencyReport', faicon:'fa-'}"><li class="menulihover">全院效率报表</li></a>
                                            <a href="/ReportAnalysis/MedAlaysis/MedDoctorPerfReport" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MedDoctorPerfReport', faicon:'fa-'}"><li class="menulihover">医生业绩报表</li></a>
                                            <a href="/ReportAnalysis/MedAlaysis/MedRecallReport" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MedRecallReport', faicon:'fa-'}"><li class="menulihover">医务回访执行报表</li></a>
                                            <a href="/ReportAnalysis/MedAlaysis/MedRecallByPositionReport" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MedRecallByPositionReport', faicon:'fa-'}"><li class="menulihover">医务岗位回访执行报表</li></a>
                                            <a href="/ReportAnalysis/MedAlaysis/MedRecallByEmpReport" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'MedRecallByEmpReport', faicon:'fa-'}"><li class="menulihover">医务人员回访执行报表</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>


