
<script type="text/javascript">
   /* (function () {
        if (window.location.pathname && window.location.pathname !== '/') {
            window.location.replace('http://' + window.location.host + '#' + window.location.pathname.substring(1));
        }
    })();*/
</script>


<style>
    .menulihover {
        border-left: 3px solid rgb(55, 131, 192);
        margin: 5px;
        background-color: #CBE4F9;
        line-height: 24px;
        font-size: 14px;
        text-indent: 18px;
    }

        .menulihover:hover {
            background: #ffb584;
        }
</style>

 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">预约看板</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Field/RepresentativeHospitalBoard/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FieldRepresentativeHospitalBoardIndex', faicon:'fa-calendar'}"><li class="menulihover">全院预约看板</li></a>
                                            <a href="/Field/RepresentativeHospitalBoard/OutpatientIndex" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FieldRepresentativeHospitalBoardOutpatientIndex', faicon:'fa-'}"><li class="menulihover">全院门诊预约看板</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">排班</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Field/EmpSchedule/ConfList" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'EmpScheduleConfList', faicon:'fa-calendar'}"><li class="menulihover">排班配置</li></a>
                                            <a href="/Field/EmpSchedule/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'EmpSchedule', faicon:'fa-calendar'}"><li class="menulihover">员工排班</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>


