
<script type="text/javascript">
   /* (function () {
        if (window.location.pathname && window.location.pathname !== '/') {
            window.location.replace('http://' + window.location.host + '#' + window.location.pathname.substring(1));
        }
    })();*/
</script>


<style>
    .menulihover {
        border-left: 3px solid rgb(55, 131, 192);
        margin: 5px;
        background-color: #CBE4F9;
        line-height: 24px;
        font-size: 14px;
        text-indent: 18px;
    }

        .menulihover:hover {
            background: #ffb584;
        }
</style>

 <div style="clear: both;"> </div>            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">收银管理</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Field/Unpaid/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FieldUnpaidIndex', faicon:'fa-plus-square'}"><li class="menulihover">待结账列表</li></a>
                                            <a href="/Field/Checkout/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FieldCheckoutIndex', faicon:'fa-paypal'}"><li class="menulihover">已结账列表</li></a>
                                            <a href="/Field/FinHandoverNote/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FinHandoverNoteIndex', faicon:'fa-'}"><li class="menulihover">收银交接单</li></a>
                                            <a href="/Field/CheckoutDtl/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'FieldCheckoutDtlIndex', faicon:'fa-'}"><li class="menulihover">已结账列表明细查询</li></a>
                                            <a href="/Field/VwFinOtherBillNote/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'VwFinOtherBillNoteIndex', faicon:'fa-'}"><li class="menulihover">财务其他收支查询</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">平衡表查询</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/ReportCenter/Balance/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReportCenterBalanceIndex', faicon:'fa-stumbleupon'}"><li class="menulihover">收费平衡表</li></a>
                                            <a href="/ReportCenter/ReservationSearch/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReportCenterReservationSearchIndex', faicon:'fa-search'}"><li class="menulihover">预约金查询</li></a>
                                            <a href="/ReportCenter/CashRegister/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReportCenterCashRegisterIndex', faicon:'fa-paypal'}"><li class="menulihover">收银查询</li></a>
                                            <a href="/ReportCenter/PaySearch/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReportCenterPaySearchIndex', faicon:'fa-paypal'}"><li class="menulihover">结账方式查询</li></a>
                                            <a href="/ReportCenter/StoredSearch/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReportCenterStoredSearchIndex', faicon:'fa-search'}"><li class="menulihover">储值查询</li></a>
                                            <a href="/ReportCenter/HospitalizationSearch/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'ReportCenterHospitalizationSearch', faicon:'fa-search'}"><li class="menulihover">住院押金查询</li></a>
                                            <a href="/ReportCenter/DebtPeriodQuery/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'DebtPeriodQueryIndex', faicon:'fa-'}"><li class="menulihover">欠款查询</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div style="width: 33%;  padding: 10px; float: left">
                <div style="height: 100%;">
                    <fieldset style="min-height: 250px; background: #e0f0fb;">
                        <legend style="font-size: 18px;">业绩管理</legend>
                        <div id="layout-01" style="height: 90%; " class="bjui-layout">
                            <ul class="dl-horizontal unstyled">
                                            <a href="/Field/CureNotePerformanceExecute/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CureNotePerformanceExecuteIndex', faicon:'fa-'}"><li class="menulihover">治疗单业绩生成</li></a>
                                            <a href="/Field/CureNotePerformanceManage/Index" style=" text-decoration: none" data-toggle="navtab" data-options="{id:'CureNotePerformanceManageIndex', faicon:'fa-'}"><li class="menulihover">业绩管理</li></a>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>


