.bjui-navbar-logo {color: #FFF;font-size: 24px;margin: 5px 0 0 5px;}
.login_logo {font-size: 30px;}
.main_box {height: 350px;margin-top:-200px;}
a.bjui-navbar-logo:hover {color: #fff;text-decoration: none;}
legend {display: block;}

/**** 该Css为自定义标签页内样式
***/
.text_align_center tr th{text-align: center;}
.butten_menu{width: 100%; height: 40px; padding: 10px; background: #587fa1;}
.bgE0F0FB{background: #E0F0FB; padding: 0; padding-top: 5px;}
.tablehead{padding: 10px; background: #587fa1; color: #FFF; display: inline-block; width: 100%;} .tablehead > div{height: 24px; line-height: 24px;}
table tr th{text-align: center;}
.toolbarlist240 > label{width: 80px; text-align: right;}
.toolbarlist240{white-space: nowrap; display: inline-block; width: 240px; float: left; height: 30px; padding-bottom: 5px;}
.toolbarlists240{white-space: nowrap; display: inline-block; width: 240px; float: left; height: 30px; padding-bottom: 5px;}
.toolbarlist480{white-space: nowrap; display: inline-block; width: 480px; height: 30px; float: left; padding-bottom: 5px;}
.toolbarlists480{white-space: nowrap; display: inline-block; width: 380px; height: 30px; float: left; padding-bottom: 5px;}
.toolbarlist480 > label, .toolbarlist240 > label{width: 80px; text-align: right;}
.toolbarlists480 > label, .toolbarlists240 > label{width: 100px; text-align: right;}
.searchresult{display: inline-block; height: 30px; float: right;}
.list{white-space: nowrap; width: 310px; display: inline-block; line-height: 30px; height: 30px; padding-bottom: 5px; float: left;} .list > .radiodiv{margin-left: 100px; margin-top: -22px;}
.listww{width: 33%; display: inline-block; line-height: 30px; height: 30px; padding-bottom: 5px; float: left; overflow: hidden; white-space: nowrap; -moz-text-overflow: ellipsis; text-overflow: ellipsis; border: 1px solid #dddddd;} .listww > label, .listwwarea > label{width: 70px; cursor: pointer; margin-bottom: 0; vertical-align: middle; text-align: right; float: left; line-height: 30px;}
.list > label:first-child, .listarea > label{width: 100px; cursor: pointer; margin-bottom: 0; vertical-align: middle; text-align: right;}
.listarea{width: 100%; display: inline-block; padding-bottom: 5px; clear: both;} .listarea > div{margin-left: 104px; margin-top: -12px;} .listarea > .div{margin-left: 100px; margin-top: 0px;} .listarea textarea{width: 95%;}
.tableContent .white > td, #tableContent .white > td{background-color: white;}
.tableContent .yellow > td, #tableContent .yellow > td{background-color: yellow;}
.tableContent .orange > td, #tableContent .orange > td{background-color: orange; color: #000;}
.tableContent .blue > td, #tableContent .blue > td{background-color: blue; color: #000;}
.tableContent .green > td, #tableContent .green > td{background-color: #C6F9C3; color: #000;}
.tableContent .red > td, #tableContent .red > td{background-color: red;}
.tableContent .red > td, #tableContent .red > td{background-color: red; color: #fff;}
.list > .required:before{content: "*"; color: red; position: relative; top: 3px;}
.listarea > .required:before{content: "*"; color: red; position: relative; top: 3px;}
.showup{position: absolute; right: 10px; top: 10px; border: 1px #696969 solid; -ms-border-radius: 3px; border-radius: 3px; padding: 2px;}
.audioplayer{height: 2.5em; /* 40 */ color: #fff; text-shadow: 1px 1px 0 #000; border: 1px solid #222; position: relative; z-index: 1; background: #333; background: -webkit-gradient( linear, left top, left bottom, from( #444 ), to( #222 ) ); background: -webkit-linear-gradient( top, #444, #222 ); background: -moz-linear-gradient( top, #444, #222 ); background: -ms-radial-gradient( top, #444, #222 ); background: -o-linear-gradient( top, #444, #222 ); background: linear-gradient( top, #444, #222 ); -webkit-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */ -moz-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */ box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */ -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.audioplayer-mini{width: 2.5em; /* 40 */ margin: 0 auto;}
.audioplayer > div{position: absolute;}
.audioplayer-playpause{width: 2.5em; /* 40 */ height: 100%; text-align: left; text-indent: -9999px; cursor: pointer; z-index: 2; top: 0; left: 0;}
.audioplayer:not(.audioplayer-mini) .audioplayer-playpause{border-right: 1px solid #555; border-right-color: rgba( 255, 255, 255, .1 );}
.audioplayer-mini .audioplayer-playpause{width: 100%;}
.audioplayer-playpause:hover,
.audioplayer-playpause:focus{background-color: #222;}
.audioplayer-playpause a{display: block;}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a{width: 0; height: 0; border: 0.5em solid transparent; /* 8 */ border-right: none; border-left-color: #fff; content: ''; position: absolute; top: 50%; left: 50%; margin: -0.5em 0 0 -0.25em; /* 8 4 */}
.audioplayer-playing .audioplayer-playpause a{width: 0.75em; /* 12 */ height: 0.75em; /* 12 */ position: absolute; top: 50%; left: 50%; margin: -0.375em 0 0 -0.375em; /* 6 */} .audioplayer-playing .audioplayer-playpause a:before, .audioplayer-playing .audioplayer-playpause a:after{width: 40%; height: 100%; background-color: #fff; content: ''; position: absolute; top: 0;} .audioplayer-playing .audioplayer-playpause a:before{left: 0;} .audioplayer-playing .audioplayer-playpause a:after{right: 0;}
.audioplayer-time{width: 4.375em; /* 70 */ height: 100%; line-height: 2.375em; /* 38 */ text-align: center; z-index: 2; top: 0;}
.audioplayer-time-current{border-left: 1px solid #111; border-left-color: rgba( 0, 0, 0, .25 ); left: 2.5em; /* 40 */}
.audioplayer-time-duration{border-right: 1px solid #555; border-right-color: rgba( 255, 255, 255, .1 ); right: 2.5em; /* 40 */}
.audioplayer-novolume .audioplayer-time-duration{border-right: 0; right: 0;}
.audioplayer-bar{height: 0.875em; /* 14 */ background-color: #222; cursor: pointer; z-index: 1; top: 50%; right: 6.875em; /* 110 */ left: 6.875em; /* 110 */ margin-top: -0.438em; /* 7 */}
.audioplayer-novolume .audioplayer-bar{right: 4.375em; /* 70 */}
.audioplayer-bar div{width: 0; height: 100%; position: absolute; left: 0; top: 0;}
.audioplayer-bar-loaded{background-color: #333; z-index: 1;}
.audioplayer-bar-played{background: #007fd1; background: -webkit-gradient( linear, left top, right top, from( #007fd1 ), to( #c600ff ) ); background: -webkit-linear-gradient( left, #007fd1, #c600ff ); background: -moz-linear-gradient( left, #007fd1, #c600ff ); background: -ms-radial-gradient( left, #007fd1, #c600ff ); background: -o-linear-gradient( left, #007fd1, #c600ff ); background: linear-gradient( left, #007fd1, #c600ff ); z-index: 2;}
.audioplayer-volume{width: 2.5em; /* 40 */ height: 100%; border-left: 1px solid #111; border-left-color: rgba( 0, 0, 0, .25 ); text-align: left; text-indent: -9999px; cursor: pointer; z-index: 2; top: 0; right: 0;} .audioplayer-volume:hover, .audioplayer-volume:focus{background-color: #222;}
.audioplayer-volume-button{width: 100%; height: 100%;} .audioplayer-volume-button a{width: 0.313em; /* 5 */ height: 0.375em; /* 6 */ background-color: #fff; display: block; position: relative; z-index: 1; top: 40%; left: 35%;} .audioplayer-volume-button a:before, .audioplayer-volume-button a:after{content: ''; position: absolute;} .audioplayer-volume-button a:before{width: 0; height: 0; border: 0.5em solid transparent; /* 8 */ border-left: none; border-right-color: #fff; z-index: 2; top: 50%; right: -0.25em; margin-top: -0.5em; /* 8 */}
.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after{/* "volume" icon by Nicolas Gallagher, http://nicolasgallagher.com/pure-css-gui-icons */ width: 0.313em; /* 5 */ height: 0.313em; /* 5 */ border: 0.25em double #fff; /* 4 */ border-width: 0.25em 0.25em 0 0; /* 4 */ left: 0.563em; /* 9 */ top: -0.063em; /* 1 */ -webkit-border-radius: 0 0.938em 0 0; /* 15 */ -moz-border-radius: 0 0.938em 0 0; /* 15 */ border-radius: 0 0.938em 0 0; /* 15 */ -webkit-transform: rotate( 45deg ); -moz-transform: rotate( 45deg ); -ms-transform: rotate( 45deg ); -o-transform: rotate( 45deg ); transform: rotate( 45deg );}
.audioplayer-volume-adjust{height: 6.25em; /* 100 */ cursor: default; position: absolute; left: 0; right: -1px; top: -9999px; background: #222; background: -webkit-gradient( linear, left top, left bottom, from( #444 ), to( #222 ) ); background: -webkit-linear-gradient( top, #444, #222 ); background: -moz-linear-gradient( top, #444, #222 ); background: -ms-radial-gradient( top, #444, #222 ); background: -o-linear-gradient( top, #444, #222 ); background: linear-gradient( top, #444, #222 ); -webkit-border-top-left-radius: 2px; -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;}
.audioplayer-volume:not(:hover) .audioplayer-volume-adjust{opacity: 0;}
.audioplayer-volume:hover .audioplayer-volume-adjust{top: auto; bottom: 100%;}
.audioplayer-volume-adjust > div{width: 40%; height: 80%; background-color: #222; cursor: pointer; position: relative; z-index: 1; margin: 30% auto 0;}
.audioplayer-volume-adjust div div{width: 100%; height: 100%; position: absolute; bottom: 0; left: 0; background: #007fd1; background: -webkit-gradient( linear, left bottom, left top, from( #007fd1 ), to( #c600ff ) ); background: -webkit-linear-gradient( bottom, #007fd1, #c600ff ); background: -moz-linear-gradient( bottom, #007fd1, #c600ff ); background: -ms-radial-gradient( bottom, #007fd1, #c600ff ); background: -o-linear-gradient( bottom, #007fd1, #c600ff ); background: linear-gradient( bottom, #007fd1, #c600ff );}
.audioplayer-novolume .audioplayer-volume{display: none;}
.audioplayer-play,
.audioplayer-pause,
.audioplayer-volume a{-webkit-filter: drop-shadow( 1px 1px 0 #000 ); -moz-filter: drop-shadow( 1px 1px 0 #000 ); -ms-filter: drop-shadow( 1px 1px 0 #000 ); -o-filter: drop-shadow( 1px 1px 0 #000 ); filter: drop-shadow( 1px 1px 0 #000 );}
.audioplayer-bar,
.audioplayer-bar div,
.audioplayer-volume-adjust div{-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.audioplayer-bar,
.audioplayer-volume-adjust > div{-webkit-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 ); -moz-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 ); box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );}
.audioplayer-volume-adjust div div,
.audioplayer-bar-played{-webkit-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 ); -moz-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 ); box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );}
.audioplayer-volume-adjust{-webkit-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 ); -moz-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 ); box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );}
.audioplayer *,
.audioplayer *:before,
.audioplayer *:after{-webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease; -moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease; -ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease; -o-transition: color .25s ease, background-color .25s ease, opacity .5s ease; transition: color .25s ease, background-color .25s ease, opacity .5s ease;}
/*各页面UI调整*/
.color-lovered{color: #E41B17 !important;}
.color-CherryRed{color: #C24641 !important;}
.color-LemonYellow{color: #FFF8C6 !important;}
.color-RoseGold{color: #ECC5C0 !important;}
.color-SkyBlue{color: #6698FF !important;}
.color-LightCyan{color: #50c2bb !important;}
.color-Magenta{color: #FF00FF !important;}
.backgroundcolor-DefaultBlue{background-color: #587fa1 !important;}
.backgroundcolor-lovered{background-color: #E41B17 !important;}
.backgroundcolor-LemonYellow{background-color: #FFF8C6 !important;}
.backgroundcolor-SkyBlue{background-color: #6698FF !important;}
.backgroundcolor-LightCyan{background: #50c2bb !important;}
.backgroundcolor-LavenderBlue{background-color: #E3E4FA !important;}
.background-delete{filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; /*background-color: #E3E4FA !important;*/}
.mgl3{margin-left: 3px;}
.mgr3{margin-right: 3px;}
.mgt5{margin-top: 5px;}
.pdt5{padding-top: 5px;}
.pdb5{padding-bottom: 5px;}
.pdl5{padding-left: 5px;}
.pdr5{padding-right: 5px;}
.display-block{display: block}
.display-none{display: none}
.text-left{text-align: left;}
.text-right{text-align: right;}
.btn-121, a.btn-121{width: 121px;}
.btn-108, a.btn-108{width: 108px;}
/*放在首页的css*/
.main_box{position: absolute;top: 50%;left: 50%;margin-top: -175px;margin-left: -300px;padding: 30px;width: 600px;height: 350px;background: #cae7ff;border: 1px #DDD solid;border-radius: 5px;-webkit-box-shadow: 1px 5px 8px #888888;-moz-box-shadow: 1px 5px 8px #888888;box-shadow: 1px 5px 8px #888888;}
.main_box .setting{position: absolute;top: 5px;right: 10px;width: 10px;height: 10px;}
.main_box .setting a{color: #FF6600;}
.main_box .setting a:hover{color: #555;}
.login_logo{margin-bottom: 20px;height: 45px;text-align: center;font-size: 35px;}
.login_logo img{height: 45px;}
.login_msg{text-align: center;font-size: 16px;}
.login_form{padding-top: 20px;font-size: 16px;}
.login_box .form-control{font-family: "Microsoft YaHei", "Verdana", "Tahoma", "Lucida Grande", "Hiragino Sans GB", sans-serif;display: inline-block;*display: inline;zoom: 1;width: auto;font-size: 18px;height: 34px;padding: 6px 12px;}
.login_box .form-control.x319{width: 319px;}
.login_box .form-control.x164{width: 164px;}
.login_box .form-groups{margin-bottom: 20px;}
.login_box .form-groups label.t{width: 120px;text-align: right;cursor: pointer;font-size: 16px;}
.login_box .form-groups.space{padding-top: 15px;border-top: 1px #FFF dotted;}
.login_box .form-groups img{margin-top: 1px;height: 32px;vertical-align: top;}
.login_box .m{cursor: pointer;}
.bottom{text-align: center;font-size: 12px;}
/*放在首页的css*/