.bjui-navbar-logo {color: #FFF;font-size: 24px;margin: 5px 0 0 5px;}
.login_logo {font-size: 30px;}
.main_box {height: 350px;margin-top:-200px;}
a.bjui-navbar-logo:hover {color: #fff;text-decoration: none;}
legend {display: block;}

.main_box{position: absolute;top: 50%;left: 50%;margin-top: -175px;margin-left: -300px;padding: 30px;width: 600px;height: 350px;background: #cae7ff;border: 1px #DDD solid;border-radius: 5px;-webkit-box-shadow: 1px 5px 8px #888888;-moz-box-shadow: 1px 5px 8px #888888;box-shadow: 1px 5px 8px #888888;}
.main_box .setting{position: absolute;top: 5px;right: 10px;width: 10px;height: 10px;}
.main_box .setting a{color: #FF6600;}
.main_box .setting a:hover{color: #555;}
.login_logo{margin-bottom: 20px;height: 45px;text-align: center;font-size: 35px;}
.login_logo img{height: 45px;}
.login_msg{text-align: center;font-size: 16px;}
.login_form{padding-top: 20px;font-size: 16px;}
.login_box .form-control{font-family: "Microsoft YaHei", "Verdana", "Tahoma", "Lucida Grande", "Hiragino Sans GB", sans-serif;display: inline-block;*display: inline;zoom: 1;width: auto;font-size: 18px;height: 34px;padding: 6px 12px;}
.login_box .form-control.x319{width: 319px;}
.login_box .form-control.x164{width: 164px;}
.login_box .form-groups{margin-bottom: 20px;}
.login_box .form-groups label.t{width: 120px;text-align: right;cursor: pointer;font-size: 16px;}
.login_box .form-groups.space{padding-top: 15px;border-top: 1px #FFF dotted;}
.login_box .form-groups img{margin-top: 1px;height: 32px;vertical-align: top;}
.login_box .m{cursor: pointer;}
.bottom{text-align: center;font-size: 12px;}